.carousel-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    height: 415px;
    border-radius: 25px;
    margin-bottom: 25px;

}

.arrow-wrapper-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;


}

.arrow-wrapper-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;


}

.index-wrapper{
    display: flex;
    align-items: flex-end;
    height: 100%;
    color: #fff;
}

@media (max-width: 435px) {
    .carousel-wrapper{
        height: 255px;
    }

    .carousel-wrapper img{
        height: 30px;
    }


}