.component-error {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    align-items: center;
    margin-top: 100px;
}

.component-error h3 {
    margin: 0;
    font-size: 19vw;
}

.component-error p {
    font-size: 2.5vw;
    margin-bottom: 150px;
}

.component-error a {
    color: #FF6060;
    text-decoration: underline;
}

.component-error a:hover {
    text-decoration: underline;
}


@media (max-width: 435px) {

    .component-error h3 {
        font-size: 140px;
    }

    .component-error p {
        font-size: 18px;
        margin-bottom: 100px;
        text-align: center;
    }
}