footer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 40px;
}

footer img {
    height: 40px;
    width: 122px;
    margin: 30px;
}

footer p {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

@media (max-width: 1270px) {
    footer p{
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    footer p{
        font-size: 12px;
    }
}