.wrapper-infos{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
}

.wrapper-top{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-infos{
    display: flex;
    flex-direction: column;
    width: auto;
}

.right-infos{
    display: flex;
    flex-direction: column;
    width: auto;
}

.right-infos img{
    background-size: cover;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
