.overall-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 20px;
}

.wrapper-box{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.wrapper-box:nth-child(1){
    margin-right: 5px;
}

.small-box-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: #fff;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -5px;
    margin-top: 15px;
    z-index: 2;

}

.small-box-title img{
    width: 24px;
    height: 13px;
}

.description-box {
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 5px;
    padding: 20px;
    visibility: visible;
}

.invisible{
    display: none;
    visibility: hidden;
}

.description-box p{
    color: #FF6060;
    font-size: 18px;
    line-height: 143%;
}


@media (max-width: 435px) {
    
    .overall-wrapper{
        flex-direction: column;
        width: 100%;
    }

    .wrapper-box{
        width: 100%;
}

.small-box-title p{
    font-size: 14px;}

.description-box p{
    font-size: 14px;
}

}
